<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/cat_searcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.CatDogSearcher"
        tools:targetApi="31">
        <activity
            android:name=".DetailDogCard"
            android:exported="false"
            android:label="@string/dog_searcher"/>
        <activity
            android:name=".MainActivityDog"
            android:exported="false"
            android:label="@string/dog_searcher"/>
        <activity
            android:name=".DetailCatCard"
            android:exported="false" />
        <activity
            android:name=".MainActivityCatDefault"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>